.btn{
  display: inline-block;
  padding: 1em;
  background-color: lightblue;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}

.back-img{
  background-image: url(http://placehold.it/640x550);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}
