.btn{
  display: inline-block;
  padding: 1em;
  background-color: #5050ad;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}

.back-img{
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}

.btn-2{
  display: inline-block;
  padding: 0.5em;
  background-color: #5050ad;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 38em){

  .inline-list{
    display: inline-block;
    padding: 0.5em;
  }
}

.current{
  background-color: #5050ad;
}

.white-txt{
  color: #fff;
}

.blue-back{
  background-color: #14143a;
}

button, label{
  cursor: pointer;
}

.card-width{
  width: 4em;
}
